.characterEditor {
  padding-top: 128px;
  padding-bottom: 64px;
  overflow-x: hidden;
}

.maxWidthWrapper {
  position: relative;
}

.header {
  max-width: 65%;
  padding-bottom: 64px;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
}

.description {
  font-size: 1.25rem;
  margin: 0;
}

.characterWrapper {
  position: fixed;
  height: auto;
  width: 100%;
  top: 128px;
  min-height: 500px;
  top: 10%;
  left: 65%;
  bottom: 10%;
}

.controlColumn {
  z-index: 1;
  max-width: 50%;
}

.controlColumn > * {
  width: calc(100%);
}

.perspectiveDecoration {
  position: fixed;
  background-color: hsl(195deg, 20%, 86%);
  width: 100%;
  height: 40%;
  top: 60%;
}
